<div class="edit_user_container">
  <h1 class="header">Edit <%= @user.name %> </h1>
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :age %>
    <%= f.text_field :age %><br><br>

    <%= f.label :borough %>
    <%= f.text_field :borough %><br><br>

    <%= f.submit "Edit Profile", :class => 'edit_button' %>
  <% end %>
  <br>
  <br>
</div>
