<h1><%=@user.username %>  </h1>
  <p>Name: <%=@user.name %> </p>
  <p>Age: <%=@user.age %> </p>
  <p>Borough: <%=@user.borough %> </p>
  <%= link_to "Edit My Profile", edit_user_path %>
<br><br>

<h2>My Achievements:</h2>
  <ul>
    <% @user.achievements.uniq.each do |achievement| %>
      <li> <%= achievement.title %> at <%= achievement.event.location.name %> -- Points: <%= achievement.points %> </li>
    <% end %>
  </ul>
<h4>Total Points: <%= @user.my_achievements %>  </h4>
<br>

<h2>Events:</h2>
<h4>Attending:</h4>
<% @user.events.uniq.each do |event| %>
  <% event.user_events.each do |ue| %>
    <% if ue.status == "Attending" %>
     <p><%= link_to event.title, event %></p>
      <ul>
        <li> Location: <%= event.location.name %>  </li>
        <li> Description: <%= event.description %>  </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h4>Interested In:</h4>
<% @user.events.uniq.each do |event| %>
  <% event.user_events.each do |ue| %>
    <% if ue.status == "Interested" %>
    <p> <%=link_to event.title, event %>  </p>
      <ul>
        <li>Location: <%= event.location.name %>  </li>
        <li>Description: <%= event.description %>  </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
<br>
<%= link_to "Back To Users", users_path %>
