<div class="header">
  <h1>//<%=@user.username %>  </h1>
</div>
<div id="container">
  <div id="left">
    <img id="avatar" src="https://image.flaticon.com/icons/png/512/65/65581.png">

    <p class="user_info"><strong>Name: </strong><%=@user.name %> </p>
    <p class="user_info"><strong>Age: </strong><%=@user.age %> </p>
    <br>
    <div id="buttons">
      <% if @user.id == current_user.id || current_user.name == "Admin" %>
        <%= button_to "Edit My Profile", edit_user_path, method: 'get',  :class => 'edit_button'%>
      <% end %><br>
      <% if @user.id == current_user.id %>
        <%= button_to 'Delete Account', user_path(@user), method: :delete, :class => 'edit_button', data: { confirm: 'are u sure lol' } %><br>
        <%= button_to 'Log Out', logout_path, method: :delete, :class => 'edit_button', data: { confirm: 'wanna logout?  lol' } %>
      <% end %>
      <br>
    </div>
  </div>

  <br>
  <div id="right">
      <h2 class="header">My Achievements:</h2>
      <ul>
        <% @user.achievements.uniq.map do |achievement| %>
          <li class="achievement_info"> <strong><%= achievement.title %> </strong> at
            <% achievement.category.events.map do |event| %>
              <%= event.location.name %>
            <% end %> -- Points: <%= achievement.points %> </li>
        <% end %>
      </ul>
      <div class="header">
        <h4 style="color:green">Total Points: <%= @user.my_achievements %>  </h4>
      </div>
  </div>

</div>

<br>
<div class="events_info">
  <div class="header">
    <h2>My Events:</h2>
  </div>
  <h4>Attending:</h4>
  <% array = [] %>
  <% @user.events.map do |event| %>
    <% event.user_events.map do |ue| %>
      <% if ue.status == "Attending" %>
          <% array << {title: event.title, location: event.location.name, description: event.description} %>
      <% end %>
    <% end %>
  <% end %>
  <% array.uniq.each do |item| %>
    <ul>
      <% @event = Event.find_by(title: item[:title]) %>
      <div class="event_items">
        <%=link_to item[:title], @event, :class => 'links'%><br>
        <strong>Loction: </strong><%= item[:location] %><br>
        <strong>Description: </strong><%= item[:description] %><br>
      </div>
    </ul>
  <% end %>

  <h4>Interested In:</h4>
  <% array = [] %>
  <% @user.events.map do |event| %>
    <% event.user_events.map do |ue| %>
      <% if ue.status == "Interested" %>
          <% array << {title: event.title, location: event.location.name, description: event.description} %>
      <% end %>
    <% end %>
  <% end %>
  <% array.uniq.each do |item| %>
    <ul>
      <% @event = Event.find_by(title: item[:title]) %>
      <div class="event_items">
        <%=link_to item[:title], @event, :class => 'links'%><br>
        <strong>Loction: </strong><%= item[:location] %><br>
        <strong>Description: </strong><%= item[:description] %><br>
      </div>
    </ul>
  <% end %>
</div>

<br>
