<h1> <%= @event.title %> </h1>
<p> <%= @event.description %> </p>
<p> <%= link_to @event.location.name, @event.location %> </p>
<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@event.location.latitude},#{@event.location.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
</p>
<h3>Event Achievements</h3>
<p> <% @event.achievements.each do |achievement| %> </p>
<% achievement.user_achievements.each do |a| %>
  <% if a.status == "Complete"%>
<% end %>
  <ul>
    <li> <%= link_to achievement.title, achievement %> -- <%= achievement.points %> -- <%= a.status %> </li>
  </ul>
  <% end %>
<p> <% end %> </p>
<%= link_to 'Events Page', events_path %>
