<div class="event_show">
  <div class="header">
    <h1> <%= @event.title %> </h1>
  </div>
  <div class="p_container">
    <p><strong>Description:</strong> <%= @event.description %> </p>
    <p><strong>Location: </strong><%= link_to @event.location.name, @event.location, :class => 'links'%> </p>
  </div>
<div class="event_show">
  <h3>Event Achievements</h3>
    <% @event.category.achievements.map do |achievement| %>
      <ul>
        <li><%= link_to achievement.title, achievement, :class => "links"%> --  <%= achievement.description %> -- <%= achievement.points %> Points</li>
      </ul>
    <% end %>
  <strong>Select the Achievements You Completed:</strong>
    <% if !!flash[:notice] %>
      <h4 style="color:green; font-family:'Jack Frost';"><%= flash[:notice] %></h4>
    <% end %>
  <%= form_for @achievement, url: '/achieved', method: "post", :class => "collection_check_boxes" do |f| %>
    <%= hidden_field :event, :id %>
    <div class="check_boxes">
      <%= f.collection_check_boxes :id, @event.category.achievements, :id, :title, {:prompt => "Select Achievements to Complete"} do |b| %>
        <%= b.label class:"check_boxes" do %>
         <%=b.check_box + b.text%>
         <% end %>
      <%end%>
    </div>
    <%= f.submit "Completed", :class => "edit_button"%>
  <% end %>
  <%= button_to "Add Achievements To This Event", new_achievement_path, method: "get", :class => "edit_button" %>
  <br><br>

  <h3>Users Attending</h3>
  <% @event.users.uniq.each do |user| %>
      <ul>
        <li><%= link_to user.username, user, :class => "links" %></li>
      </ul>
  <% end %>
  <br>
  <strong><p>Want to Attend?</p></strong>
  <%= form_for @event, method: "get" do |f| %>
    <%= f.select "user_events", options_for_select(["-- Select Status --", "Attending", "Interested"])%>
    <%= f.submit "Submit", :class => "edit_button"%>
  <% end %>
<br><br>
  <% if current_user.name == "Admin" %>
  <div class="delete_event">
    <%= button_to 'Delete this Event', @event, :class => "edit_button", method: :delete%>
    <br>
  </div>

  <% end %>
</div>
