<h1> <%= @event.title %> </h1>
  <p> <%= @event.description %> </p>
  <p>Location: <%= link_to @event.location.name, @event.location %> </p>

<!-- INSERT MAP HERE -->

<br>
<h3>Event Achievements</h3>
  <p> <% @event.achievements.each do |achievement| %> </p>
  <% achievement.user_achievements.each do |a| %>
    <% if a.status == "Complete"%>
  <% end %>
    <ul>
      <li> <%= link_to achievement.title, achievement %> -- <%= achievement.points %> Points -- <%= a.status %> </li>
    </ul>
    <% end %>
  <p> <% end %> </p>
  <h3>Users Attending</h3>
  <% @event.users.uniq.each do |user| %>
      <ul>
        <li><%= link_to user.username, user %></li>
      </ul>
  <% end %>

  <%= form_for :user_event, :method => :patch do |f| %>
    <%= f.label "Want To Attend?" %>
    <%= f.collection_select :user_event_id, UserEvent.all, :id, :status %>
    <%= f.submit "Submit" %>
  <% end %>
  <br>
  <%= link_to 'Events Page', events_path %>
