<div class="event_show">
  <h1> <%= @event.title %> </h1>
    <p> <%= @event.description %> </p>
    <p>Location: <%= link_to @event.location.name, @event.location %> </p>
</div>
<!-- INSERT MAP HERE -->

<br>
<div class="event_show">
  <h3>Event Achievements</h3>
    <% @event.category.achievements.each do |achievement| %>
      <ul>
        <li> <%= link_to achievement.title, achievement %> -- <%= achievement.points %> Points </li>
      </ul>
    <% end %>
    <%= button_to "Add Achievements To This Event", new_achievement_path, method: "get" %>
</div>

  <h3>Users Attending</h3>
  <% @event.users.uniq.each do |user| %>
      <ul>
        <li><%= link_to user.username, user %></li>
      </ul>
  <% end %>

  <%= form_for :user_event, :method => :patch do |f| %>
    <%= f.label "Want To Attend?" %>
    <%= f.collection_select :user_event_id, UserEvent.all, :id, :status %>
    <%= f.submit "Submit" %>
  <% end %>
  <br>
  <%= link_to 'Events Page', events_path %>
