<div class="achievements_container">
    <h1 class="header"><%= @achievement.title %> </h1>
  <div id="achievement_info" style="padding:10px;">
    <p><strong>Description: </strong><%= @achievement.description %> </p>
    <p><strong>Points: </strong><%= @achievement.points %> </p>
    <p><strong>Category: </strong><%= @achievement.category.name %> </p>
  </div>

  <br>
  <h2 style="padding:10px;">These Users have also completed this achievement:</h2>
  <% @achievement.users.uniq.each do |user| %>
    <ul>
      <li><%=link_to user.name, user, :class => "links" %> </li>
    </ul>
  <% end %>
  <br>

</div>
