<div class="achievement_container">
  <div class="header">
    <h1><%= @achievement.title %> </h1>
  </div>
    <p>Description: <%= @achievement.description %> </p>
    <p>Points: <%= @achievement.points %> </p>
    <p>Category: <%= @achievement.category.name %> </p>
    <!-- Once we figure out login, we can add the status of this task for the current user (Complete or Incomplete) -->
  <br>
  <h2>These Users have also completed this achievement:</h2>
  <% @achievement.users.uniq.each do |user| %>
    <ul>
      <li><%=link_to user.name, user %> </li>
    </ul>
  <% end %>

</div>
