<!DOCTYPE html>
<html>
  <head>
    <title>AdvntreApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="application.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <% if !!session[:user_id]%>
    <div class="topnav">
      <a href="<%= home_path %>" class="navlink">Home</a>
        <% if !! current_user %>
          <a href="<%= user_path(current_user.id) %>" class="navlink">My Profile</a>
        <% end %>
      <a href="<%= events_path %>" class="navlink">Events</a>
      <a href="<%= locations_path %>" class="navlink">Locations</a>
      <a href="<%= achievements_path %>" class="navlink">Achievements</a>
      <h1 id="icon">//A</h1>
    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
